In [1]:
import pandas as pd
import seaborn as sns
import numpy as np  
import matplotlib.pyplot as plt

C:\Python37\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
df = pd.read_csv('datasets/area.csv')
df

,MONTH,GOMBE,BENIN,ABA,CALABAR,UYO,MINNA,OSHOGBO,JOS,YOLA,LAGOS,MAIDUGURI,IBADAN
0,01/01/2019,0,"300,000","5,000,000","1,000,000","1,228,500","2,240,000","1,185,100","1,966,950","1,444,425","1,512,000","8,180,000","39,270,975"
1,01/02/2019,0,"693,000","450,200","2,379,900","500,000","1,920,000","476,400","625,850","186,700","582,000","2,525,000","19,873,450"
2,01/03/2019,"801,900","578,600","4,143,000","300,000","794,500","2,020,000","481,000","445,000","223,500","767,000","3,100,000","24,616,700"
3,01/04/2019,"595,000","85,000","2,541,500",0,"102,500","220,000","341,400",0,0,"340,000","860,000","19,144,400"
4,01/05/2019,"337,000","131,000","991,000",0,0,"400,000",0,0,0,"290,000","400,000","2,612,000"
5,01/06/2019,"50,000","100,500","163,000",0,"5,987,100",0,"1,084,000",0,0,"205,000","248,100","10,161,920"
6,01/07/2019,0,"1,901,500","4,759,000","3,706,500","1,577,200","280,173","1,344,000","625,850",0,"1,448,625","2,314,100","31,906,240"
7,01/08/2019,"909,800","1,121,000","2,959,500","3,801,250","5,511,000","550,000","591,450","1,467,265","454,000","650,000","1,510,000","27,066,735"
8,01/09/2019,"909,500","1,026,000","2,248,583","1,730,300","1,979,150","820,000","292,500","658,100","400,000","797,750","1,343,500","19,141,300"
9,01/10/2019,"2,372,500","1,123,000","3,795,000","2,604,308","3,212,500","390,000","103,000","747,950","695,000","1,205,750","2,948,000","22,674,400"
10,01/11/2019,"759,100","1,928,500","3,068,000","1,904,500","3,019,500","1,346,000","110,000","1,576,620","200,000","601,000","2,115,000","23,537,920"
11,01/12/2019,"272,500","2,387,650","578,100","1,050,000","6,488,000","680,000","120,000","1,191,400","445,000","1,118,000","2,390,000","20,387,300"
12,01/01/2018,"200,000","2,088,850","6,598,500","2,065,000","4,487,600",0,0,0,0,"30,000",0,"14,337,580"
13,01/02/2018,"2,355,650","1,679,000","3,898,850","1,450,000","2,235,100",0,"53,000",0,0,"37,000",0,"9,713,100"
14,01/03/2018,"2,832,050","3,555,000","4,113,500","4,220,100","4,878,000",0,0,0,0,"86,000",0,"10,366,205"
15,01/04/2018,"7,455,700","4,259,800","4,541,000","5,303,000","4,196,500",0,"474,500",0,0,0,0,"19,559,000"
16,01/05/2018,"2,391,300","3,176,200","3,005,850","850,000","2,636,500",0,"524,500",0,0,0,0,"6,796,540"
17,01/06/2018,"237,800","2,122,700","3,617,500","110,000","3,280,000","2,126,000","436,000",0,0,0,0,"4,953,150"
18,01/07/2018,"972,100","2,441,000","4,012,500","2,905,400","6,606,000","3,199,000","455,000",0,0,0,0,"5,267,350"
19,01/08/2018,"1,115,600","1,081,100","7,180,200","1,875,300","3,598,000","3,544,000","660,500","411,000","670,000",0,0,"8,751,300"
20,01/09/2018,"2,231,350","1,534,300","2,620,500","3,661,250","4,899,300","3,580,000","255,000","217,150","1,283,050",0,0,"5,559,850"
21,01/10/2018,"119,550","984,000","4,633,500","1,787,400","5,558,200","2,130,000","476,500","745,300","1,110,888","1,909,000","4,280,000","17,165,450"
22,01/11/2018,"2,333,250","3,649,300","1,687,500","3,329,750","4,587,700","3,989,300","1,333,700","846,350","3,365,612","1,709,200","8,180,000","5,563,900"
23,01/12/2018,"1,941,250","1,902,000","3,180,000","5,382,000","5,897,000","4,307,000","1,049,500","1,303,900","2,742,904","715,000","2,800,000","3,740,750"
24,01/01/2017,0,0,"6,074,500","3,770,000",0,0,"39,000",0,0,0,0,"2,596,620"
25,01/02/2017,"2,311,000",0,"5,369,350","2,691,700",0,0,0,0,0,0,0,"5,381,250"
26,01/03/2017,"4,624,000",0,"6,672,950","1,645,000","1,100,050",0,0,0,0,0,0,"6,408,350"
27,01/04/2017,"1,183,000",0,"4,716,850","5,368,200","1,148,000",0,"240,450",0,0,0,0,"4,184,250"
28,01/05/2017,"6,066,450",0,"3,725,500","6,848,500","2,100,300",0,"1,997,000",0,0,"65,000",0,"6,603,150"
29,01/06/2017,"4,496,950",0,"5,411,300","2,603,500","2,100,000",0,"2,336,850",0,0,0,0,"6,336,950"
30,01/07/2017,"2,442,150",0,"2,405,700","2,185,500","1,154,000",0,"2,530,600",0,0,0,0,"4,152,700"
31,01/08/2017,"4,304,150",0,"2,321,600","700,000","2,972,100",0,"1,242,100",0,0,"330,000",0,"2,771,355"
32,01/09/2017,"787,950",0,"6,672,150","1,579,750","1,057,500",0,"1,787,750",0,0,0,0,"10,029,750"
33,01/10/2017,"3,307,050",0,"4,250,850","1,050,000","3,773,000",0,"1,034,500",0,0,"147,000",0,"5,358,415"
34,01/11/2017,"4,427,900","720,500","6,589,000","3,226,110","2,569,000",0,"544,000",0,0,0,0,"9,066,000"
35,01/12/2017,"1,151,000","120,000","4,894,850","4,429,700","1,971,500",0,"284,000",0,0,"30,000",0,"5,699,000"
36,01/01/2016,0,0,0,0,0,0,0,0,0,0,0,0
37,01/02/2016,0,0,0,0,0,0,0,0,0,0,0,0
38,01/03/2016,0,0,0,0,0,0,0,0,0,0,0,0
39,01/04/2016,0,0,0,0,0,0,0,0,0,0,0,0
40,01/05/2016,0,0,0,0,0,0,0,0,0,0,0,0
41,01/06/2016,0,0,0,0,0,0,0,0,0,0,0,0
42,01/07/2016,0,0,0,0,0,0,0,0,0,0,0,0
43,01/08/2016,0,0,0,0,0,0,0,0,0,0,0,0
44,01/09/2016,0,0,0,0,0,0,0,0,0,0,0,0
45,01/10/2016,0,0,0,0,0,0,0,0,0,0,0,"1,286,400"
46,01/11/2016,0,0,0,0,0,0,"408,180",0,0,0,0,"11,017,060"
47,01/12/2016,0,0,"5,479,450","1,500,000",0,0,"71,000",0,0,0,0,"15,959,370"

In [5]:
sns.pairplot(df)

IndexError: index -1 is out of bounds for axis 0 with size 0